/* Global Setting */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #011021;
  text-decoration: none;
}

p {
  color: #011021;
}

h1, h2, h3, p, li {
  color: #011021;
}

section {
  padding: 20px 0;
}

.btn {
  width: 150px;
  height: 40px;
  border: 1px solid #011021;
  background: #fff;
  color: #011021;
  font-size: 14px;
}

.btn:hover {
  cursor: pointer;
  background: #010121;
  color: #fff;
}

.title {
  text-align: center;
}

.input {
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  font-family: 'Noto Sans JP', sans-serif;
}

.home {
  position: relative;
  left: 35px;
}

.home-icon {
  display: none;
}

.hamburger {
  display: none;
}

.hidden-menu {
  display: none;
}

/* Header */

.header {
  border-bottom: 1px solid transparent;
  min-height: 60px;
  box-shadow: 0px 1px 5px 0px rgba(218, 213, 213, 0.75);
  padding: 0 20px;
  background: #fafafa;
}

.header {
  display: flex;
  min-height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  width: 10%;
}

.logo-icon {
  width: 40px;
}

.nav {
  width: 90%;
  display: flex;
  align-items: center;
}

.nav__list,
.user__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list {
  width: 100%;
  margin-left: 30px;
}

.nav__item {
  margin: 0 2%;
}

.user__item {
  margin: 0 5%;
}

.nav__link {
  padding: 2px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.nav__link::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background: #011021;
  transition: 0.2s ease-in-out;
}

.nav__link:hover::before {
  width: 100%;
}

.user__list {
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

.user__item:last-child {
  margin-right: 0;
} 

/* Main News List */

.section-content {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.news__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 75%;
  margin-right: 30px;
}

.news__item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid transparent;
  box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.20);
  padding: 10px 20px;
}

.news__link:hover {
  text-decoration: none;
}

.news__title {
  font-size: 24px;
  line-height: 1.5em;
  color: inherit;
  margin: 20px 0;
}

.news__controls {
  display: flex;
  align-items: center;
}

.news__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px 0 20px 0;
}

.news__btn-read {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  padding: 2px 5px;
  border: 1px solid #010121;
  background: #fff;
  color: #010121;
  transition: all .5s ease;
}

.news__btn-read:hover {
  background: #000;
  color: #fff;
}

.date-news {
  display: block;
  color: #b0b0b0;
  font-size: 14px;
  line-height: 2.5em;
  margin: 0 3%;
}

.date-news:last-child {
  margin-left: 0;
}

/* Sidebar */

.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent; 
  /* box-shadow: 0px 1px 5px 0px rgba(218, 213, 213, 0.75); */
  height: 100%;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 30px 0;
  list-style: none;
}

.sidebar__title {
  margin: 0;
  padding: 30px 10px;
  font-size: 20px;
  text-align: center;
}

.sidebar__item {
  align-self: center;
  width: 80%;
  font-size: 14px;
  padding: 10px 0px;
  margin: 5px 0;
  border-bottom: 1px solid #b0b0b0;  
}

.sidebar__link {
  color: #010121;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5em;
  transition: all .2s ease;
}

.sidebar__link:hover{
  color: #b0b0b0;
}
 
/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background: #fafafa;
}

.footer__list {
  display: flex;
  align-self: center;
  width: 40%;
}

.footer__item {
  margin: 0 5%;
}

.footer__item:first-child {
  margin-left: 0;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.social__links {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 40%;
}

.social__item {
  margin: 0 5%;
}

.social__item:last-child {
  margin-right: 0;
}

/* Sticky Footer */

.wrapper {
  min-height: calc(100vh - 50px);
}
.footer {
  height: 49px;
  border-top: 1px solid lightgrey;
} 

/* Article */

.article {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.article__title {
  margin: 20px 0;
  font-size: 44px;
  text-align: center;
}

.article__num {
  margin: 0;
  padding-left: 40px;
}

.article__content {
  margin: 10px 0;
  padding: 0 40px;
  font-size: 18px;
  line-height: 2em;
}

/* Recomended News */

.recomended-news {
  padding: 20px;
}

.recomended__title {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.recomended__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
  margin: 30px 0;
  padding: 0;
}

.recomended__item {
  width: 30%;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.20);
  text-decoration: none;
}

.recomended__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.recomended__link:hover {
  text-decoration: none;
}

.recomended__item .news__title {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
}

.recomended-news .news__title {
  margin: 5px 0;
}

/* Comments */

.section-comments {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid #b0b0b0;
}

.comments__title {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.leave-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.leave-comment__title {
  margin: 0;
  font-size: 20px;
}

.form-create__comment {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 0;
  align-self: center;
}

.comments__card-user {
  padding-left: 65px; 
  margin: 20px 0;
}

.comments__card-user::before {
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  background-image: url(/images/user-img.png);
  background-size: contain;
}

.comments__user-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.comments__message {
  font-size: 15px;
  line-height: 1.5em;
  margin: 5px 0;
}

/* .reply-link {
  font-size: 12px;
} */

.form-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-comment__input {
  width: 60%;
  padding-left: 10px;
}

.create-comment__btn {
  align-self: center;
}


/* Section Error 404 */

.section-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.error__title {
  margin: 0;
  font-size: 44px;
  text-align: center;
}

.error__content {
  margin: 20px 0;
  font-size: 18px;
  text-align: center; 
}

.error__btn-controls {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 20px 0;
}

.btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  transition: all .5s ease;
}

.btn-home:hover {
  color: #fff;
  background: #010121;
}

.btn-about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  color: #fff;
  background: #010121;
  transition: all .5s ease;
}

.btn-about-us:hover {
  color: #010121;
  background: #fff;
}

/* Section About */

.section-about {
  padding: 20px;
}

.about__title {
  text-align: center;
  font-size: 28px;
  line-height: 1.5em;
  margin: 0;
}

.about__content {
  text-align: justify;
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.5em;
}

.advantage__title {
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid transparent;
  font-weight: 400;
}

.advantage__img {
  width: 40%;
  align-self: center;
}

.adventage__info {
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
}

/* Section Newsletter */

.subscribe { 
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  padding: 80px 0;
  background: #1a54e7;
  background-image: url(/images/newsletter.png);
  text-align: center;
}

.subscribe__title {
  color: #fff;
  font-size: 48px;
  line-height: 1.25em;
  margin: 0;
}

.subscribe__text {
  color: #8baeff;
  font-size: 26px;
  line-height: 1.5em;
  margin: 20px 0;
}

.subscribe__input {
  min-width: 30%;
  border: none;
  border-radius: 20px;
  padding: 10px 0;
  padding-left: 15px;
  background: #2c6cff;
  color: #fff;
  font-size: 16px;
}

.subscribe__input::placeholder {
  color: #fff;
}

.subscribe__btn {
  min-width: 10%;
  border: none;
  border-radius: 20px;
  padding: 2px 10px;
  background: #fff;
  margin-left: -10%;
  font-size: 16px;
  line-height: 2em;
  font-weight: bold;
}

.subscribe__btn:hover {
  cursor: pointer;
}

/* Section Contact */

.section-contact {
  padding: 20px;
}

.contact__title {
  text-align: center;
  font-size: 28px;
  margin: 0;
}

.map {
  margin: 20px 0 0 0;
}

/* Register Section */

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.register__title {
  margin: 0;
  font-size: 28px;
  text-align: center;
}

.form-register {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px 0;
}

.register__btn {
  margin: 30px 0;
  align-self: center;
}

.register__password-requirement {
  font-size: 12px;
  color: grey;
  margin-top: -10px;
  margin-bottom: 10px;
}

.register__agreement {
  margin-right: 5px;
}

.term-text,
.term-link {
  font-size: 14px;
}

.term-link {
  color: #b0b0b0;
}

.term-link:hover {
  color: #010121;
  text-decoration: underline;
}

/* Sign in */

.forgot-password {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.sign__btn {
  margin: 20px 0;
  align-self: center;
}

/* Section forgot password */

.section-password-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset__title {
  margin: 0;
  font-size: 28px;
  text-align: center;
}

.form-reset {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  width: 50%;
}

.reset__btn {
  align-self: center;
  margin: 20px 0;
}

/* Section Privacy */

.section-privacy {
  padding: 20px;
}

.privacy__title {
  margin: 0;
  font-size: 28px;
  text-align: center;
}

.privacy__content {
  font-size: 18px;
  line-height: 2em;
}

/* Create Post */

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.create__title {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.label {
  margin: 10px 0;
  font-size: 16px;
}

.form-create {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px 0;
  align-self: center;
}

#create-post__content {
  font-family: 'Noto Sans JP', sans-serif;
}

.comments__input {
  margin-bottom: 20px;
  font-size: 14px;
}

.create-post__btn {
  align-self: center;
  margin: 20px 0;
}

/* Media Tablet 768px */

@media only screen and (max-width: 768px) {

  /* Header */

  .nav {
    display: none;
  }

  .logo {
    width: 50%;
  }

  .home-icon {
    display: block;
  }

  /* Hamburger menu */

  .hamburger {
    display: block;
  }

  .hamburger__label {
    position: absolute;
    top: 18px;
    z-index: 10;
  }

  #hamburger__toggle {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: -1000px;
    background: rgb(243, 243, 43);
    z-index: 2;
    transition: all .5s ease-out;
  }

  .menu .nav__list {
    flex-direction: column;
    margin: 8px 0 8px 55px;
    width: 50%;
  }

  .menu .nav__item {
    padding: 10px 0;
  }

  .menu .nav__link {
    color: #010121;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
  }

  .menu .nav__link:hover {
    color: #102c3c;
  }

  .menu .nav__link:first-child {
    padding-top: 0;
  }

  .menu .nav__link::before {
    display: none;
  }

  #hamburger__toggle:checked + .menu {
    display: block;
    left: 0;
    transition: all .5s ease-out;
  }

  .menu-icon {
    width: 25px;
  }

  .home-icon {
    width: 25px;
  }

  .logo-icon {
    position: relative;
    left: 45px;
    width: 25px;
  }

  .user__list {
    width: 50%;
  }

  /* Article */

  .article__content {
    padding: 0 10px;
  }

  /* Recomended News */

  .recomended__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .recomended__item {
    margin: 10px 0;
    width: 90%;
  }

  /* Form Create Comment */

  .form-create__comment {
    width: 90%;
  }

  /* Main */

  .news__list {
    margin: 0;
    width: 100%;
    justify-content: space-around;
  }

  .news__item {
    width: 100%;
  }
  
  /* Sidebar */

  .sidebar {
    display: none;
  }

  /* Footer */

  .footer {
    height: 80px;
  }

  .footer__list,
  .social__links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__item,
  .social__item {
    margin: 2px 0;
  }

  .social__links {
    align-items: flex-end;
  }

  /* Form Create Post */

  .form-create {
    width: 90%;
  }

  /* Form Register */

  .form-register,
  .form-reset {
    width: 90%;
  }

  /* Media Phone 425px */

  @media only screen and (max-width: 425px) {

    /* Navigation */

    .user__list {
      width: 70%;
    }

    /* News List */

    .news__item {
      width: 100%;
    }

    /* Article */

    .article__title {
      margin: 10px 0;
      font-size: 30px;
      text-align: center;
    }

    .article__content,
    .article__num {
      padding: 0;
    }

    .form-create__comment {
      width: 90%;
    }

    /* Recomended News */

    .recomended__item {
      width: 100%;
    }

    /* Register Form */

    .register-form {
      width: 90%;
    }

    /* Form Reset */

    .form-reset {
      width: 90%;
    }

    /* Footer */

    .footer__list,
    .social__links {
      width: 35%;
    }

    .copyright {
      width: 30%;
    }
  }

  /* Media Phone 375px */

  @media only screen and (max-width: 375px) {

    /* News List */

    .news__controls {
      flex-direction: column;
      align-items: flex-start;
    }

    .date-news {
      margin: 0;
    }
  }

  /* Footer */

  @media only screen and (max-width: 320px) {

    /* Footer */

    .footer {
      flex-direction: column;
      align-items: center;
    }

    .footer__list {
      margin-bottom: 15px;
      align-items: center;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    .copyright {
      text-align: center;
      margin-bottom: 15px;
    }

    .social__links {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

}