/* Global Setting */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(154, 104, 242);
}

h1, h2, h3, p, li {
  color: #102c3c;
}

section {
  padding: 30px 0;
}

.btn {
  width: 150px;
  height: 40px;
  border: 1px solid #1a54e7;
  background: #1a54e7;
  color: #fff;
}

.btn:hover {
  background: #2051c5;
  color: #fff;
}

.title {
  text-align: center;
}

.input {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* Header */

.header {
  border-bottom: 1px solid transparent;
  height: 60px;
  box-shadow: 0px 1px 5px 0px rgba(218, 213, 213, 0.75);
}

.header .container{
  display: flex;
  height: 60px;
}

.container .logo {
  display: flex;
  align-items: center;
  width: 20%;
}

.title-logo {
  color: black;
  font-size: 24px;
  line-height: 1.5em;
}

.logo-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  background-image: url(/images/startup.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.title-link {
  color: black;
  text-decoration: none;
}

.title-link:hover {
  color: inherit;
  text-decoration: none;
}

.container .nav {
  width: 60%;
  display: flex;
  align-items: center;
}

.user-block {
  display: flex;
  align-items: center;
}

.nav-list,
.user-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 3px solid transparent;
}

.nav-item,
.user-item {
  font-size: 18px;
}

.nav-link,
.user-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.nav-link::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background:rgb(154, 104, 242);
  transition: 0.2s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}

.user-block {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Main News List */

.section-content {
  display: flex;
  flex-direction: row;
}

.list-news {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 90%;
}

.item-news {
  width: 90%;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid transparent;
  box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.20);
  padding: 10px;
}

.link-news:hover {
  text-decoration: none;
}

.title-news {
  font-size: 24px;
  line-height: 1.5em;
  color: inherit;
}

.news-link:hover {
  text-decoration: none;
}

.date-news {
  color: #b0b0b0;
  font-size: 14px;
  line-height: 2.5em;
}

/* Sidebar */

.sidebar {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  padding: 0;
  list-style: none;
  background: #fafafa;
  margin-top: -8px;
}

.sidebar-title {
  font-size: 24px;
  text-align: start;
  background: #d7efee;
  padding: 15px;
}

.sidebar-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  background-image: url(/images/batch.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar-item-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  background-image: url(/images/attachment.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar-item {
  font-size: 16px;
  padding: 5px 20px;
  margin: 20px 0;
  border: 3px solid transparent;
  transition: all .15s ease-out;
  position: relative;
}

.sidebar-item::before {
  content: '';
  bottom: -5px;
  left: 0;
  position: absolute;
  height: 2px;
  background:#5c9290;
  transition: 0.2s ease-in-out;
}

.sidebar-item:hover::before {
  width: 100%;
}

.sidebar-link {
  color: black;
  font-weight: 500;
}

.sidebar-link:hover {
  color: #272727;
  text-decoration: none;
}

/* Footer */

.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-list {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.footer-link:hover,
.social-link:hover {
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.copyright {
  justify-content: center;
}

/* Sticky Footer */

.wrapper {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
  border-top: 1px solid lightgrey;
} 

/* Article */

.container .article {
  display: flex;
  flex-direction: column;
}

.article-content {
  margin: 30px 0 10px 0;
}

.article-title {
  font-size: 44px;
  padding-bottom: 30px;
  text-align: center;
}

.article-theme,
.article-date {
  font-size: 16px;
  color: rgb(158, 150, 150);
  padding-right: 10px;
  margin: 10px 0;
  display: block;
  text-align: end;
  padding-right: 50px;
}

.article-inner-content {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  margin: 20px auto;
  text-align: justify;
}

/* Recomended News */

.recomended-news {
  margin: 20px 0;
  padding: 50px 0;
}

.recomended-title {
  text-align: center;
  margin-bottom: 40px;
}

.recomended-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.recomended-item {
  width: 30%;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.20);
  text-decoration: none;
}

.recomended-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.recomended-link:hover {
  text-decoration: none;
}

.recomended-img {
  width: 100%;
}

.recomended-item .title-news {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
}

/* Comments */

.comment-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
}

.card-user {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.card-user::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: lightgray;
  margin: 10px 0;
}

.user-name {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.message {
  font-size: 14px;
  line-height: 1.5em;
  margin: 5px 0;
}

.reply {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 500;
}

/* Form Comment */

.form-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input-comment {
  width: 60%;
  padding-left: 10px;
}


.btn-comment {
  margin: 20px 0;
  padding: 5px 0;
  color: #fff;
  width: 30%;
  background: #1a54e7;
  border: 1px solid transparent;
  border-radius: 5px;
}


.btn-comment:hover {
  background: #2051c5;
}

.card-comment {
  padding-left: 50px;
  margin: 10px 0; 
}

/* Section Error 404 */

.error-wrapper {
  justify-content: center;
  padding: 100px 0;
}

.error-title {
  text-align: center;
}

.error-content {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

.btn-block {
  display: flex;
  justify-content: center;
}

.btn-home {
  margin-right: 20px;
}

.btn-about-us {
  background: #fff;
  color: #1a54e7;
}

/* Section About */

.title-about {
  text-align: center;
  margin-bottom: 20px;
}

.content-about {
  text-align: justify;
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.5em;
}

.advantage-inner-title {
  font-size: 20px;
  text-align: center;
  margin: 50px 0;
}

.list-advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  transition: .5s ease;
  border: 1px solid transparent;
}

.advantage-item:hover {
  position: relative;
  top: -5px;
}

.advantage-img {
  width: 40%;
  align-self: center;
}

.adventage-info {
  margin: 10px 0;
  text-align: center;
}

/* Section Newsletter */

.subscribe {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #1a54e7;
  background-image: url(/images/newsletter.png);
  /* background-size: contain; */
  padding: 80px 0;
}

.title-subscribe {
  color: #fff;
  font-size: 48px;
  line-height: 1.25em;
}

.text-subscribe {
  color: #8baeff;
  font-size: 24px;
  line-height: 1.5em;
}

.input-subscribe {
  min-width: 30%;
  border: none;
  border-radius: 20px;
  padding: 8px 0;
  padding-left: 15px;
  background: #2c6cff;
  color: #fff;
}

.input-subscribe::placeholder {
  color: #fff;
}

.btn-subscribe {
  min-width: 10%;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  background: #fff;
  margin-left: -5%;
  font-size: 18px;
  line-height: 2em;
  font-weight: 500;
}

/* Section Contact */

.section-contact {
  padding: 30px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
}

.contant-map {
  width: 80%;
  align-self: center;
  transition: cubic-bezier(.31,.24,.46,.99) 1s;
}

.contant-map:hover {
  width: 100%;
}

.contact-info .social-links {
  font-size: 20px;
  align-self: center;
  width: 80%;
  padding: 0;
  margin: 10px 0;
}

.contact-info .social-item {
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.contact-info .social-item:hover {
  margin-bottom: 20px;
  border-bottom: 2px solid #1a54e7;
}

.contact-info .social-link:hover {
  text-decoration: none;
}

/* Register Section */

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-register {
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.register-input {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.btn-register {
  margin: 20px 0;
  width: 25%;
  align-self: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  background: #1a54e7;
  color: #fff;
}

.btn-register:hover {
  background: #2051c5;
}

.register-password-requirement {
  font-size: 12px;
  color: grey;
  margin-top: -10px;
  margin-bottom: 10px;
}

.register-agreement {
  margin-right: 5px;
}

/* Sign in */

.forgot-password {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Section forgot password */

.section-password-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-reset {
  text-align: center;
  padding-bottom: 30px;
}

.reset-label {
  margin-right: 5px;
  font-size: 18px;
  color: #000;
}

.reset-password {
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 40px;
  width: 300px;
  padding: 0 5px;
  vertical-align: 0;
}

.btn-reset {
  height: 40px;
  width: 100px;
  color: #fff;
  border: 1px solid #1a54e7;
  border-radius: 5px;
  background: #1a54e7;
}

.btn-reset:hover {
  background: #2051c5;
}

/* Section Privacy */

.section-privacy {
  padding: 30px 0;
}

.privacy-title {
  text-align: center;
  margin-bottom: 20px;
}

.privacy-content {
  font-size: 20px;
  line-height: 2em;
}

/* Create Post */

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-label,
.textarea-label {
  color: #102c3c;
  font-size: 16px;
  line-height: 1.5em;
}

.form-create {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px 0;
  align-self: center;
}

#create-post-title,
#create-post-content {
  width: 100%;
  margin-bottom: 10px;
}

.btn-create {
  margin: 20px 0;
  align-self: center;
}