* {
  box-sizing: border-box;
  list-style: none;
}
dl, ul, ol {
  margin: 0;
}

/* Sticky Footer */

.wrapper {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
  border-top: 1px solid lightgrey;
  
} 

/* Header */

.header {
  border-bottom: 1px solid lightgray;
}

.header .container{
  display: flex;
}

.container .logo {
  width: 20%;
}

.title-logo {
  color: black;
  font-size: 24px;
  line-height: 1.5em;
}

.title-link {
  color: inherit;
}

.title-link:hover {
  color: inherit;
  text-decoration: none;
}

.container .nav {
  width: 60%;
}

.nav-list,
.user-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item,
.user-item {
  border: 3px solid transparent;
  font-size: 18px;
}

.nav-link,
.user-link {
  font-size: 18px;
  font-size: 16px;
}

.nav-link:hover {
  background: #eaedf0;
  border-radius: 5px;
}

.nav-submenu {
  position: absolute;
  margin-top: 40px;
  visibility: hidden;
  padding: 10px 0px;
  margin-top: 50px;
}

.nav-submenu::before {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  top: -20px;
}

.nav-submenu .nav-item {
  border: 2px solid transparent;
}

.nav-submenu .nav-item .nav-link {
  padding: 10px 50px 10px 30px;
}

.nav-submenu .nav-item:hover {
  border-bottom: 2px solid #1a54e7;
  border-top: 2px solid #1a54e7;
}

.nav-list > .nav-item:hover .nav-submenu {
  visibility: visible;
  background: #eaedf0;
  border-radius: 5px;
}

.user-block {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Register Section */

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.title-register {
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.register-input {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.btn-register {
  margin: 20px 0;
  width: 25%;
  align-self: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  background: #1a54e7;
  color: #fff;
}

.btn-register:hover {
  background: #2051c5;
}

.register-password-requirement {
  font-size: 12px;
  color: grey;
  margin-top: -10px;
  margin-bottom: 10px;
}

.register-agreement {
  margin-right: 5px;
}

/* Sign in */

.forgot-password {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}


/* Main */
/* Section Content */
.section-content {
  display: flex;
  flex-direction: row;
}

/* Section News */

.main {
  margin: 10px 0;
}

.list-news {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 70%;
}

.item-news {
  width: 85%;
  overflow: hidden;
  margin-bottom: 30px;
}

.link-news:hover {
  text-decoration: none;
}

.img-news {
  width: 100%;
}

.title-news {
  font-size: 24px;
  line-height: 1.5em;
  color: #000;
}

.date-news {
  color: #b0b0b0;
  font-size: 14px;
  line-height: 2.5em;
}

.read-news {
  text-align: center;
  margin-left: 10px;
  /* border: 1px solid #1a54e7;
  background: #1a54e7; */
  color: #1a54e7;
  padding: 5px 10px;
  width: 30%;
  font-weight: 500;
}

.read-news:hover {
  color: #1a54e7;
}

/* Controls Button */

.shift-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btn-prev,
.btn-next {
  border: 1px solid #1a54e7;
  background: #1a54e7;
  color: #fff;
  font-weight: 500;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  margin: 0 10px;
}

.btn-prev:hover,
.btn-next:hover {
  color: #fff;
  text-decoration: none;
}

.btn-prev::before {
  display: inline;
  content: '<';
  padding-right: 5px;
}

.btn-next::after {
  display: inline;
  content: '>';
  padding-left: 5px;
}

.disabled {
  background: rgb(167, 163, 163);
  border: gray;
}

/* Sidebar */

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  padding: 0;
  list-style: none;
}

.sidebar-title {
  font-size: 24px;
  text-align: start;
}

.sidebar-item {
  margin: 20px 0;
}

/* Section Newsletter */

.subscribe {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #1a54e7;
  background-image: url(/images/newsletter.png);
  /* background-size: contain; */
  padding: 80px 0;
}

.title-subscribe {
  color: #fff;
  font-size: 48px;
  line-height: 1.25em;
}

.text-subscribe {
  color: #8baeff;
  font-size: 24px;
  line-height: 1.5em;
}

.input-subscribe {
  min-width: 30%;
  border: none;
  border-radius: 20px;
  padding: 8px 0;
  padding-left: 15px;
  background: #2c6cff;
  color: #fff;
}

.input-subscribe::placeholder {
  color: #fff;
}

.btn-subscribe {
  min-width: 10%;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  background: #fff;
  margin-left: -5%;
  font-size: 18px;
  line-height: 2em;
  font-weight: 500;
}

/* Footer */

.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-list {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.copyright {
  justify-content: center;
}

/* Article */

.container .article {
  display: flex;
  flex-direction: column;
}

.article-content {
  margin: 30px 0 10px 0;
}

.article-title {
  font-size: 44px;
  padding-bottom: 30px;
  text-align: center;
}

.article-theme,
.article-date {
  font-size: 16px;
  color: rgb(158, 150, 150);
  padding-right: 10px;
  margin: 10px 0;
  display: block;
  text-align: end;
  padding-right: 50px;
}

.article-img {
  width: 100%;
  margin: 0 auto;
}

.article-inner-content {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  /* width: 95%; */
  margin: 20px auto;
  text-align: justify;
}


/* Share */

.share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gray;
}

.share .social-links {
  margin: 0;
  width: 25%;
}

.share-title {
  text-transform: uppercase;
  font-size: 14px;
}

/* Recomended News */

.recomended-news {
  margin: 20px 0;
  background: #fafafa;
  padding: 50px 0;
}

.recomended-title {
  text-align: center;
  margin-bottom: 40px;
}

.recomended-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.recomended-item {
  width: 30%;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.20);
  text-decoration: none;
}

.recomended-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.recomended-link:hover {
  text-decoration: none;
}

.recomended-img {
  width: 100%;
}

.recomended-item .title-news {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
}

/* Comments */

.comment-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
}

.card-user {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.card-user::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: lightgray;
  margin: 10px 0;
}

.user-name {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.message {
  font-size: 14px;
  line-height: 1.5em;
  margin: 5px 0;
}

.reply {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 500;
}

/* Form Comment */

.form-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-comment {
  width: 60%;
  padding-left: 10px;
}

.btn-comment {
  margin: 20px 0;
  padding: 5px 0;
  color: #fff;
  width: 30%;
  background: #1a54e7;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn-comment:hover {
  background: #2051c5;
}

.card-comment {
  padding-left: 50px;
  margin: 10px 0; 
}

/* Button */

.btn {
  width: 150px;
  height: 40px;
  border: 1px solid #1a54e7;
  background: #1a54e7;
  color: #fff;
}

.btn:hover {
  background: #2051c5;
  color: #fff;
}

/* Section Error 404 */

.error-wrapper {
  justify-content: center;
  padding: 100px 0;
}

.error-title {
  text-align: center;
}

.error-content {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

.btn-block {
  display: flex;
  justify-content: center;
}

.btn-home {
  margin-right: 20px;
}

.btn-about-us {
  background: #fff;
  color: #1a54e7;
}

/* Section forgot password */

.section-password-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-reset {
  text-align: center;
  padding: 30px 0;
}

.reset-label {
  margin-right: 5px;
  font-size: 18px;
  color: #000;
}

.reset-password {
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 40px;
  width: 300px;
  padding: 0 5px;
  vertical-align: 0;
}

.btn-reset {
  height: 40px;
  width: 100px;
  color: #fff;
  border: 1px solid #1a54e7;
  border-radius: 5px;
  background: #1a54e7;
}

.btn-reset:hover {
  background: #2051c5;
}

/* Repair */

.section-content {
  padding: 30px 0;
}

.title {
  text-align: center;
}

/* Section About */

.title-about {
  text-align: center;
  margin-bottom: 20px;
}

.content-about {
  text-align: justify;
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.5em;
}

.advantage-inner-title {
  font-size: 20px;
  text-align: center;
  margin: 50px 0;
}

.list-advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  transition: .5s ease;
  border: 1px solid transparent;
}

.advantage-item:hover {
  position: relative;
  top: -5px;
}

.advantage-img {
  width: 40%;
  align-self: center;
}

.adventage-info {
  margin: 10px 0;
  text-align: center;
}

/* Section Contact */

.section-contact {
  padding: 30px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
}

/* .contact-info {
  display: flex;
  justify-content: space-between;
} */

.contant-map {
  width: 80%;
  align-self: center;
  transition: cubic-bezier(.31,.24,.46,.99) 1s;
}

.contant-map:hover {
  width: 100%;
}

.contact-info .social-links {
  font-size: 20px;
  align-self: center;
  width: 80%;
  padding: 0;
  margin: 10px 0;
  /* border: 1px solid transparent; */
}

.contact-info .social-item {
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.contact-info .social-item:hover {
  margin-bottom: 20px;
  border-bottom: 2px solid #1a54e7;
}

.contact-info .social-link:hover {
  text-decoration: none;
}

/* Slider */

.section-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #aeaeae;
  flex-basis: 25%;
  transition: all 0.5s;
}

.slider-item:hover {
  flex-basis: 50%;
}

.slide-1 {
  background-image: url(/images/slide-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url(/images/slide-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url(/images/slide-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-4 {
  background-image: url(/images/slide-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Section Privacy */

.section-privacy {
  padding: 30px 0;
}

.privacy-title {
  text-align: center;
  margin-bottom: 20px;
}